Repository jina-ai/jcloud, pull requests merged in 2022-12, with the labels that each got.

#104 chore: fix expose test
  jcloud/constants.py
  jcloud/flow.py
  jcloud/helper.py
  jcloud/normalize.py
  tests/integration/expose/flows/single-executor-stateful.yml
  tests/integration/expose/flows/single-executor-stateless.yml
  tests/unit/test_flow.py
Labels: size/m, area/core, area/testing

#103 refactor: use new `jina-hubble-sdk` syntax in `normalize`
  jcloud/helper.py
  setup.py
  tests/unit/flows/normalized_flows/flow2.yml
Labels: area/setup, size/s, area/core, area/testing

#105 refactor: show flow deployment logs url
  jcloud/flow.py
  jcloud/helper.py
Labels: size/s, area/core

#102 fix: show timezone offset
  jcloud/api.py
  jcloud/helper.py
  setup.py
Labels: area/setup, size/s, area/core

#106 fix: handle the validation for serverless
  jcloud/helper.py
  tests/unit/flows/normalized_flows/flow2.yml
Labels: size/s, area/core, area/testing

#109 chore: skip jina new test
  tests/integration/test_jina_new.py
Labels: size/xs, area/testing

#110 feat(cli): update flow
  jcloud/api.py
  jcloud/flow.py
  jcloud/helper.py
  jcloud/parsers/__init__.py
  jcloud/parsers/update.py
  tests/integration/update/__init__.py
  tests/integration/update/flows/add_args.yml
  tests/integration/update/flows/add_env.yml
  tests/integration/update/flows/add_labels.yml
  tests/integration/update/flows/base_flow.yml
  tests/integration/update/flows/custom_name_executor.yml
  tests/integration/update/flows/custom_name_exposed_executor.yml
  tests/integration/update/flows/expose_executor.yml
  tests/integration/update/flows/modify_delete_labels.yml
  tests/integration/update/flows/modify_env.yml
  tests/integration/update/flows/scale_out.yml
  tests/integration/update/flows/update_image.yml
  tests/integration/update/flows/update_resources.yml
  tests/integration/update/test_rename_executor.py
  tests/integration/update/test_update_env.py
  tests/integration/update/test_update_executor_args.py
  tests/integration/update/test_update_executor_image.py
  tests/integration/update/test_update_executor_resources.py
  tests/integration/update/test_update_expose_executor.py
  tests/integration/update/test_update_labels.py
  tests/unit/test_api.py
Labels: area/core, area/testing, size/l
