Repository jina-ai/jcloud, pull requests merged in 2022-11, with the labels that each got.

#89 chore: change default host
  .github/workflows/integration-tests.yml
  jcloud/constants.py
Labels: size/xs, area/core, area/housekeeping, area/cicd

#90 refactor: remove unused code
  jcloud/constants.py
Labels: size/xs, area/core

#91 feat(deploy): log dashboard link
  jcloud/flow.py
  jcloud/helper.py
Labels: size/xs, area/core

#92 fix(remove): jc remove all
  jcloud/api.py
  tests/unit/test_api.py
Labels: size/s, area/core, area/testing

#94 fix: use new login each time intead of reusing cached credential
  jcloud/api.py
Labels: size/xs, area/core

#97 fix: surface the max flow allowed error
  jcloud/flow.py
Labels: size/xs, area/core

#100 ci: remove codecov job
  .github/workflows/ci.yml
Labels: size/s, area/housekeeping, area/cicd

#101 fix: reading correct file when multiple flow files in dir
  jcloud/normalize.py
Labels: size/s, area/core
