Repository jina-ai/jcloud, pull requests merged in 2022-09, with the labels that each got.

#79 feat: dashboard url display in jc logs
  jcloud/api.py
Labels: size/s, area/core

#80 feat: dashboard url display in jc deploy
  jcloud/flow.py
Labels: size/xs, area/core

#82 test: fix external sources executor test's workspace to the same one
  tests/integration/flows/executors-from-external-sources.yml
Labels: size/xs, area/testing

#83 fix: hubble URL update
  jcloud/constants.py
Labels: size/xs, area/core
