Repository jina-ai/jcloud, pull requests merged in 2022-06, with the labels that each got.

#49 doc: doc for jc remove
  README.md
Labels: size/s

#50 feat: external executors using expose_gateway
  .github/README-img/external-executor.png
  .github/README-img/external-executors-multiple.png
  README.md
  jcloud/api.py
  jcloud/flow.py
  jcloud/helper.py
  tests/integration/expose_gateway_arg/__init__.py
  tests/integration/expose_gateway_arg/flows/multiple-executors.yml
  tests/integration/expose_gateway_arg/flows/single-executor-stateful.yml
  tests/integration/expose_gateway_arg/flows/single-executor-stateless.yml
  tests/integration/expose_gateway_arg/test_multiple_executors.py
  tests/integration/expose_gateway_arg/test_single_executor_stateful.py
  tests/integration/expose_gateway_arg/test_single_executor_stateless.py
  tests/integration/stateful/test_stateful_flow_grpc.py
  tests/integration/test_multi_flows_removal.py
Labels: size/m, area/core, area/testing, area/housekeeping

#52 test: undo external source integration test skip
  tests/integration/test_executors_from_external_sources.py
Labels: size/xs, area/testing

#53 ci: add auth to cd workflow
  .github/workflows/cd.yml
Labels: size/xs, area/housekeeping, area/cicd

#54 feat: spot vs ondemand for executors
  README.md
  tests/integration/capacity/__init__.py
  tests/integration/capacity/flows/capacity.yml
  tests/integration/capacity/test_capacity.py
  tests/integration/envvars/__init__.py
  tests/integration/stateful/__init__.py
  tests/integration/stateless/__init__.py
Labels: size/m, area/testing

#22 fix: fix manual release CD pipeline token validation
  .github/workflows/force-docs-build.yml
  .github/workflows/force-release.yml
Labels: bug, size/s, area/housekeeping, area/cicd

#56 fix: when token is expired, prompt should show
  jcloud/flow.py
Labels: size/xs, area/core

#55 test: add integration test to cover wolf's jina version support
  tests/integration/flows/expose-version-arg.yml
  tests/integration/test_expose_version_arg.py
Labels: size/s, area/testing

#57 fix: list render, jcloud dependencies and jcloud logging
  jcloud/api.py
  jcloud/env_helper.py
  jcloud/flow.py
  jcloud/helper.py
  setup.py
Labels: area/setup, size/s, area/core

#59 chore: show error message from server
  jcloud/flow.py
  tests/integration/capacity/test_capacity.py
  tests/unit/test_api.py
  tests/unit/test_helper.py
Labels: size/s, area/core, area/testing
