Repository jina-ai/jcloud, pull requests merged in 2022-08, with the labels that each got.

#67 feat: add knative support and test
  jcloud/helper.py
  tests/integration/flows/executors-autoscaled.yml
  tests/integration/test_executors_autoscaled.py
Labels: size/s, area/core, area/testing

#68 build: use hubble-sdk instead of auth
  jcloud/api.py
  jcloud/parsers/__init__.py
  jcloud/parsers/login.py
  setup.py
Labels: area/setup, size/s, area/core

#70 test: add test coverage for gateway resource customization
  tests/integration/flows/executors-autoscaled.yml
  tests/integration/flows/resource-in-gateway.yml
  tests/integration/test_gateway_resource_customization.py
Labels: size/s, area/testing

#71 feat: allow extending cli parser with jcloud cli
  jcloud/__main__.py
  jcloud/parsers/__init__.py
  jcloud/parsers/base.py
Labels: size/s, area/core

#73 feat: changes to accommodate the monitoring changes
  jcloud/helper.py
  tests/integration/flows/executors-autoscaled.yml
  tests/unit/test_helper.py
Labels: size/s, area/core, area/testing

#74 Revert "feat: changes to accommodate the monitoring changes"
  jcloud/helper.py
  tests/integration/flows/executors-autoscaled.yml
  tests/unit/test_helper.py
Labels: size/s, area/core, area/testing

#75 feat: changes to accommodate the monitoring changes
  jcloud/api.py
  jcloud/flow.py
  jcloud/helper.py
  tests/integration/flows/executors-autoscaled.yml
  tests/unit/test_helper.py
Labels: size/s, area/core, area/testing

#78 test: add integration test for jina new project (#76)
  tests/integration/test_jina_new.py
Labels: size/s, area/testing
