Repository jina-ai/jcloud, pull requests merged in 2022-05, with the labels that each got.

#20 feat(env): .env in local project
  README.md
  jcloud/api.py
  jcloud/flow.py
  jcloud/helper.py
  jcloud/parsers/deploy.py
  jcloud/resources/project-template/.env
  pytest.ini
  setup.py
  tests/integration/__init__.py
  tests/integration/flows/grpc-stateful.yml
  tests/integration/flows/grpc-stateless.yml
  tests/integration/flows/http-stateful.yml
  tests/integration/flows/http-stateless.yml
  tests/integration/flows/resource-demand.yml
  tests/integration/projects/envvars_custom_file/custom.env
  tests/integration/projects/envvars_custom_file/executor1/config.yml
  tests/integration/projects/envvars_custom_file/executor1/executor.py
  tests/integration/projects/envvars_custom_file/executor1/requirements.txt
  tests/integration/projects/envvars_custom_file/flow.yml
  tests/integration/projects/envvars_default_file/.env
  tests/integration/projects/envvars_default_file/executor1/config.yml
  tests/integration/projects/envvars_default_file/executor1/executor.py
  tests/integration/projects/envvars_default_file/executor1/requirements.txt
  tests/integration/projects/envvars_default_file/flow.yml
  tests/integration/projects/testproject1/app.py
  tests/integration/projects/testproject1/executor1/config.yml
  tests/integration/projects/testproject1/executor1/executor.py
  tests/integration/projects/testproject1/executor1/requirements.txt
  tests/integration/projects/testproject1/flow.yml
  tests/integration/projects/testproject2/executor1/config.yml
  tests/integration/projects/testproject2/executor1/executor.py
  tests/integration/projects/testproject2/executor1/requirements.txt
  tests/integration/projects/testproject2/executor2/config.yml
  tests/integration/projects/testproject2/executor2/executor.py
  tests/integration/projects/testproject2/executor2/requirements.txt
  tests/integration/projects/testproject2/flow.yml
  tests/integration/test_envvars_custom_file.py
  tests/integration/test_envvars_default_file.py
  tests/integration/test_project1.py
  tests/integration/test_project2.py
  tests/integration/test_stateful_flows.py
  tests/integration/test_stateless_flows.py
  tests/unit/__init__.py
  tests/unit/flows/normalized/flow1.yml
  tests/unit/flows/normalized/flow2.yml
  tests/unit/flows/normalized/flow3.yml
  tests/unit/flows/normalized/flow4.yml
  tests/unit/flows/normalized/flow5.yml
  tests/unit/flows/normalized/flow6.yml
  tests/unit/flows/not/flow1.yml
  tests/unit/flows/not/flow2.yml
  tests/unit/flows/not/flow3.yml
  tests/unit/test_flow.py
  tests/unit/test_helper.py
Labels: area/setup, size/m, area/core, area/testing

#21 test(project): envvars passed as context vars
  tests/integration/projects/envvars_context_syntax/.env
  tests/integration/projects/envvars_context_syntax/executor1/config.yml
  tests/integration/projects/envvars_context_syntax/executor1/executor.py
  tests/integration/projects/envvars_context_syntax/executor1/requirements.txt
  tests/integration/projects/envvars_context_syntax/flow.yml
  tests/integration/test_envvars_context_syntax.py
Labels: size/s, area/testing

#23 test(project): added tests for projects with shards
  tests/integration/projects/testproject_multi_executors/executor1/config.yml
  tests/integration/projects/testproject_multi_executors/executor1/executor.py
  tests/integration/projects/testproject_multi_executors/executor1/requirements.txt
  tests/integration/projects/testproject_multi_executors/executor2/config.yml
  tests/integration/projects/testproject_multi_executors/executor2/executor.py
  tests/integration/projects/testproject_multi_executors/executor2/requirements.txt
  tests/integration/projects/testproject_multi_executors/flow.yml
  tests/integration/projects/testproject_simple/app.py
  tests/integration/projects/testproject_simple/executor1/config.yml
  tests/integration/projects/testproject_simple/executor1/executor.py
  tests/integration/projects/testproject_simple/executor1/requirements.txt
  tests/integration/projects/testproject_simple/flow.yml
  tests/integration/projects/testproject_with_shards/executor1/config.yml
  tests/integration/projects/testproject_with_shards/executor1/executor.py
  tests/integration/projects/testproject_with_shards/executor1/requirements.txt
  tests/integration/projects/testproject_with_shards/flow.yml
  tests/integration/test_project_multi_executors.py
  tests/integration/test_project_simple.py
  tests/integration/test_project_with_shards.py
  tests/unit/test_flow.py
Labels: size/m, area/testing

#24 fix(ui): highlight grpc, envs
  jcloud/api.py
  jcloud/auth.py
  jcloud/helper.py
Labels: size/s, area/core

#27 fix: envvar in uses
  jcloud/helper.py
  tests/unit/flows/normalized/flow7.yml
  tests/unit/test_helper.py
Labels: size/s, area/core, area/testing

#30 docs(readme): clean up, sanitize naughty language
  README.md
Labels: size/s

#26 test(project): added tests for projects with external sources
  tests/integration/flows/executors-from-external-sources.yml
  tests/integration/projects/executors_with_shards/executor1/config.yml
  tests/integration/projects/executors_with_shards/executor1/executor.py
  tests/integration/projects/executors_with_shards/executor1/requirements.txt
  tests/integration/projects/executors_with_shards/flow.yml
  tests/integration/projects/multi_executors/executor1/config.yml
  tests/integration/projects/multi_executors/executor1/executor.py
  tests/integration/projects/multi_executors/executor1/requirements.txt
  tests/integration/projects/multi_executors/executor2/config.yml
  tests/integration/projects/multi_executors/executor2/executor.py
  tests/integration/projects/multi_executors/executor2/requirements.txt
  tests/integration/projects/multi_executors/flow.yml
  tests/integration/projects/simple/app.py
  tests/integration/projects/simple/executor1/config.yml
  tests/integration/projects/simple/executor1/executor.py
  tests/integration/projects/simple/executor1/requirements.txt
  tests/integration/projects/simple/flow.yml
  tests/integration/test_executors_from_external_sources.py
  tests/integration/test_executors_with_shards.py
  tests/integration/test_multi_executors.py
  tests/integration/test_simple.py
  tests/unit/test_flow.py
Labels: size/s, area/testing

#31 Log level fixes/updates
  jcloud/__main__.py
  jcloud/constants.py
  jcloud/flow.py
  jcloud/parsers/list.py
Labels: size/s, area/core

#33 refactor: handle errors from jc status more gracefully
  jcloud/api.py
Labels: size/s, area/core

#34 feat: normalized function now will try to merge envs before validation
  jcloud/env_helper.py
  jcloud/flow.py
  jcloud/helper.py
  tests/unit/flows/normalized/flow8.yml
  tests/unit/flows/normalized/flow9.yml
  tests/unit/flows/not/flow4.yml
  tests/unit/test_helper.py
Labels: size/m, area/core, area/testing

#37 feat: validate CloudFlow's path and env_file during post init
  jcloud/flow.py
  tests/unit/test_flow.py
Labels: size/s, area/core, area/testing

#39 ci: nightly tests
  .github/workflows/ci.yml
  .github/workflows/integration-tests.yml
  pytest.ini
  scripts/get-all-test-paths.sh
  setup.py
  tests/integration/test_envvars_context_syntax.py
  tests/integration/test_envvars_custom_file.py
  tests/integration/test_envvars_default_file.py
  tests/integration/test_executors_from_external_sources.py
  tests/integration/test_executors_with_shards.py
  tests/integration/test_multi_executors.py
  tests/integration/test_simple.py
  tests/integration/test_stateful_flows.py
  tests/integration/test_stateless_flows.py
  tests/integration/test_yaml_env_file.py
Labels: area/setup, size/m, area/testing, area/housekeeping, area/cicd

#38 fix: loglevel for flow_id
  .github/workflows/integration-tests.yml
  jcloud/api.py
  jcloud/flow.py
  jcloud/helper.py
  jcloud/parsers/base.py
  setup.py
  tests/integration/test_stateful_flow_grpc.py
  tests/integration/test_stateful_flow_http.py
Labels: area/setup, size/m, area/core, area/testing, area/housekeeping, area/cicd

#40 fix: show name in deploy message
  jcloud/flow.py
Labels: size/xs, area/core

#43 ci: make log level to be DEBUG when running pytest in ci/cd
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/integration-tests.yml
Labels: size/xs, area/housekeeping, area/cicd

#42 refactor: replace distuils with packaging
  jcloud/helper.py
Labels: size/xs, area/core

#46 test: skip test_executors_from_external_sources for now
  tests/integration/test_executors_from_external_sources.py
Labels: size/xs, area/testing

#47 test: fix setup for running test in ci/cd
  .github/workflows/ci.yml
  tests/unit/test_flow.py
Labels: size/s, area/testing, area/housekeeping, area/cicd
