Repository jina-ai/jcloud, pull requests merged in 2022-04, with the labels that each got.

#2 feat(auth): `jcloud login` cli
  jcloud/__init__.py
  jcloud/api.py
  jcloud/auth.py
  jcloud/flow.py
  jcloud/parsers/__init__.py
Labels: size/m, area/core, area/entrypoint

#4 fix: status transist logic
  jcloud/flow.py
  jcloud/parsers/base.py
Labels: size/s, area/core

#5 feat: add jc new
  README.md
  docs/_static/logo-dark.svg
  docs/_static/logo-light.svg
  jcloud/__init__.py
  jcloud/api.py
  jcloud/parsers/__init__.py
  jcloud/parsers/base.py
  jcloud/resources/project-template/executor1/config.yml
  jcloud/resources/project-template/executor1/executor.py
  jcloud/resources/project-template/executor1/requirements.txt
  jcloud/resources/project-template/flow.yml
Labels: size/m, area/core, area/entrypoint, area/docs

#6 feat: add user survey
  jcloud/api.py
  jcloud/auth.py
  jcloud/flow.py
  jcloud/parsers/__init__.py
Labels: size/s, area/core

#10 fix(404): error during list
  jcloud/flow.py
Labels: size/xs, area/core

#11 docs: update readme
  README.md
Labels: size/xs

#12 refactor: cli main entrypoint
  README.md
  jcloud/__init__.py
  jcloud/__main__.py
  setup.py
Labels: area/setup, size/s, area/core, area/entrypoint

#13 fix(auth): always requires login from auth0
  jcloud/auth.py
Labels: size/xs, area/core

#15 refactor: improve version check
  jcloud/__main__.py
  jcloud/helper.py
Labels: size/s, area/core

#16 refactor: improve version check
  jcloud/__main__.py
  jcloud/helper.py
Labels: size/s, area/core

#17 feat(list): allow passing status
  README.md
  jcloud/api.py
  jcloud/flow.py
  jcloud/parsers/__init__.py
  jcloud/parsers/list.py
Labels: size/m, area/core

#18 feat(logs): filter by executor name
  README.md
  jcloud/api.py
  jcloud/parsers/__init__.py
  jcloud/parsers/logs.py
Labels: size/s, area/core
