Repository jina-ai/jcloud, pull requests merged in 2023-05, with the labels that each got.

#142 fix: adding env vars for normalized flows
  jcloud/flow.py
  tests/integration/normalized_flow_env_vars/flow.yml
  tests/integration/normalized_flow_env_vars/test_normalized_flow_env_vars.py
  tests/integration/update/test_update_executor_args.py
Labels: size/s, area/core, area/testing

#147 chore: skip flow deployment message
  jcloud/flow.py
Labels: size/xs, area/core

#148 fix: fix retry flow deployment
  jcloud/flow.py
Labels: size/s, area/core

#149 refactor: change dashboard urls to cloud.jina.ai
  jcloud/api.py
  jcloud/constants.py
  jcloud/flow.py
  jcloud/helper.py
  jcloud/normalize.py
Labels: size/s, area/core
