Repository jina-ai/jcloud, pull requests merged in 2023-02, with the labels that each got.

#123 fix: jc scale wording
  jcloud/parsers/custom_actions.py
Labels: size/xs, area/core

#124 fix: list & remove serving & failed flows
  .github/workflows/integration-tests.yml
  jcloud/api.py
  jcloud/flow.py
  jcloud/normalize.py
  jcloud/parsers/list.py
  jcloud/parsers/remove.py
Labels: size/s, area/core, area/housekeeping, area/cicd

#107 test: add test for flow with new syntax
  tests/integration/basic/flows/http-flow-new-syntax.yml
  tests/integration/basic/test_basic_http_new_syntax.py
  tests/integration/test_jina_new.py
Labels: size/s, area/testing

#127 fix(list): change default phases in jc list
  .github/workflows/integration-tests.yml
  jcloud/api.py
Labels: size/s, area/core, area/housekeeping, area/cicd

#126 feat: remove flows by phase
  .github/workflows/integration-tests.yml
  jcloud/api.py
  jcloud/parsers/__init__.py
  jcloud/parsers/remove.py
  tests/integration/remove_by_phase/__init__.py
  tests/integration/remove_by_phase/test_remove_by_phase.py
  tests/unit/test_api.py
Labels: size/m, area/core, area/testing, area/housekeeping, area/cicd
