Repository jina-ai/jcloud, pull requests merged in 2023-01, with the labels that each got.

#112 feat: restart flow, executor or gateway
  jcloud/api.py
  jcloud/constants.py
  jcloud/flow.py
  jcloud/helper.py
  jcloud/parsers/__init__.py
  jcloud/parsers/custom_actions.py
  tests/integration/cutom_actions/__init__.py
  tests/integration/cutom_actions/flows/base_flow.yml
  tests/integration/cutom_actions/test_restart.py
  tests/unit/test_api.py
Labels: size/m, area/core, area/testing

#115 feat: `jc scale`
  jcloud/api.py
  jcloud/constants.py
  jcloud/flow.py
  jcloud/parsers/__init__.py
  jcloud/parsers/custom_actions.py
  tests/integration/cutom_actions/test_scale.py
  tests/unit/test_api.py
Labels: size/m, area/core, area/testing

#117 fix: update uses on legacy syntax
  jcloud/helper.py
  jcloud/normalize.py
  tests/integration/executor_uses/__init__.py
  tests/integration/executor_uses/flow.yml
  tests/integration/executor_uses/test_executor_uses.py
Labels: size/s, area/core, area/testing

#119 feat: add output argument to jcloud normalize
  jcloud/api.py
  jcloud/normalize.py
  jcloud/parsers/normalize.py
  tests/unit/test_normalize.py
Labels: size/s, area/core, area/testing

#120 refactor: normalize test to use mock
  jcloud/normalize.py
  tests/unit/test_normalize.py
Labels: size/s, area/core, area/testing

#122 fix: fix the bug when output argument is a file
  jcloud/normalize.py
  tests/unit/test_normalize.py
Labels: size/xs, area/core, area/testing

#121 fix: handle executor does not define uses
  jcloud/normalize.py
  tests/integration/executor_with_no_uses/flow/executor1/config.yml
  tests/integration/executor_with_no_uses/flow/executor1/executor.py
  tests/integration/executor_with_no_uses/flow/executor2/config.yml
  tests/integration/executor_with_no_uses/flow/executor2/executor.py
  tests/integration/executor_with_no_uses/flow/flow.yml
  tests/integration/executor_with_no_uses/test_executor_with_no_uses.py
Labels: size/s, area/core, area/testing
