Repository jina-ai/jcloud, pull requests merged in 2023-07, with the labels that each got.

#160 fix: change secret cli parser
  jcloud/api.py
  jcloud/flow.py
  jcloud/normalize.py
  jcloud/parsers/k8s_resources/create.py
  jcloud/parsers/k8s_resources/get.py
  jcloud/parsers/k8s_resources/update.py
  jcloud/parsers/update.py
  tests/unit/flows/flow1_test.yml
  tests/unit/test_api.py
  tests/unit/test_normalize.py
Labels: size/m, area/core, area/testing

#159 fix: set docarray version on load flow data
  .github/workflows/integration-tests.yml
  jcloud/helper.py
  jcloud/normalize.py
  tests/integration/test_jina_new.py
  tests/unit/test_helper.py
  tests/unit/test_normalize.py
Labels: size/m, area/core, area/testing, area/housekeeping, area/cicd

#164 feat: hide ui for lcserve resume pause
  jcloud/flow.py
Labels: size/xs, area/core

#165 Refactor cli
  jcloud/api.py
  jcloud/flow.py
  jcloud/parsers/__init__.py
  jcloud/parsers/deploy.py
  jcloud/parsers/normalize.py
Labels: size/m, area/core

#166 refactor: display resources
  jcloud/api.py
  tests/unit/flows/flow1-test.yml
  tests/unit/test_api.py
Labels: size/m, area/core, area/testing
