Repository jina-ai/jcloud, pull requests merged in 2023-03, with the labels that each got.

#132 fix: limit aiohttp connections
  jcloud/flow.py
  jcloud/helper.py
Labels: size/s, area/core

#133 build: use toml file for building
  pyproject.toml
Labels: size/xs

#128 test: remove by phase integration tests
  tests/integration/remove_by_phase/test_remove_by_phase.py
Labels: size/s, area/testing

#134 chore: remove codecov
  .github/codecov.yml
  .github/workflows/cd.yml
Labels: size/s, area/housekeeping, area/cicd

#131 feat: recreate deleted flow
  jcloud/api.py
  jcloud/constants.py
  jcloud/flow.py
  jcloud/parsers/__init__.py
  jcloud/parsers/custom_actions.py
  tests/integration/custom_actions/__init__.py
  tests/integration/custom_actions/flows/base_flow.yml
  tests/integration/custom_actions/test_pause_resume.py
  tests/integration/custom_actions/test_recreate.py
  tests/integration/custom_actions/test_restart.py
  tests/integration/custom_actions/test_scale.py
Labels: size/m, area/core, area/testing

#135 feat: add cph display
  jcloud/api.py
  jcloud/flow.py
  jcloud/helper.py
Labels: size/s, area/core

#137 fix: add phase to intermediate phases
  jcloud/api.py
  jcloud/flow.py
  tests/integration/remove_multiple/test_multi_flows_removal.py
  tests/unit/test_api.py
Labels: size/s, area/core, area/testing

#138 feat: add labels to list
  jcloud/api.py
  jcloud/flow.py
  jcloud/parsers/list.py
Labels: size/s, area/core
